In [ ]:
# Importing the required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd 
import sqlite3
from datetime import datetime # Code for ETL operations 
from IPython.display import display, HTML
import psycopg2
from sqlalchemy import create_engine, text
import re

In [ ]:
# display floating nrs to 2 decimal places
pd.set_option("display.precision", 2)

In [ ]:
# Alternative db connection 
# conn = psycopg2.connect(user="*******", password="**********", host="***.*.*.*", port="****",database="pgrdata")

In [ ]:
database_url = 'postgresql://username:password@host:port/database' # PostgreSQL db connection
engine = create_engine(database_url)
table_name = 'activos'
db_name = 'pgrdata'
output_path = './PGR Report/Gold/pgr_data.csv' # Path for the final CSV file
r_path = './PGR Report/Gold/recuperados(in).csv'
ar_path = './PGR Report/Gold/arrestados(in).csv'
ap_path = './PGR Report/Gold/apreendidos(in).csv'
code_log = './PGR Report/Gold/etl_log.txt' # Log save for the ETL operation

In [ ]:
''' 
    Data Preprocesing:
        - Currency exchange [AUD, EUR, AKZ, CHF] to USD
        - Clean currency values (commas, dots, spaces)
        - Fixed inconsistencies in names, values
        - Dropped column "Bens"
        - Rename columns [Orgao que recebeu, Situacao actual, Fiel Depositario]
        - Remove accents
        - Value "0" to assets with "Aguarda Avaliação" (Awaiting Evaluation) status
'''

In [11]:
def log_progress(message):
    ''' This function logs the mentioned message of a given stage of the
    code execution to a log file. Function returns nothing'''
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-MonthName-Day-Hour-Min-Sec
    now = datetime.now() # current timestamp
    timestamp = now.strftime(timestamp_format)
    with open(code_log,"a") as f:
        f.write(timestamp + ' : ' + message + '\n')

In [ ]:
def extract(r_path, ar_path, ap_path):
    ''' This function aims to extract the required
    information from the sources and saves them into DataFrames. The
    function returns the DataFrames for further processing.'''
    try:                
        recuperados_df = pd.read_csv(r_path)
    
        arrestados_df = pd.read_csv(ar_path)
      
        apreendidos_df = pd.read_csv(ap_path)

        return recuperados_df, arrestados_df, apreendidos_df
    except Exception as e:
        log_progress(f"Error during data extraction: {e}")
    # Re-raise the exception for further handling
        raise

In [ ]:
def transform(recuperados_df, arrestados_df, apreendidos_df):
    ''' This function accesses the DataFrames, adds extra column to enrich the data
    and changes the data type for the column to reduce processing memory. Returns the
    transformed DataFrame'''
    
    recuperados_df["categoria"] = 'recuperado'
    arrestados_df["categoria"] = 'arrestado' 
    apreendidos_df["categoria"] = 'apreendido'
    
    df = pd.concat([arrestados_df, apreendidos_df, recuperados_df])
    df.drop(columns=['Unnamed: 0'], inplace=True) # drops the redundant column
    df['valor'] = pd.to_numeric(df["valor"], errors='coerce')  # Handle non-numeric values

    return df

In [ ]:
def load_to_csv(df, output_path):
    ''' This function saves the final DataFrame as a CSV file in
    the provided path. Function returns nothing.'''
    df.to_csv(output_path)

In [ ]:
def load_to_db(df, engine, table_name):
    ''' This function loads the data into a database
    table with the provided name. Function returns nothing.'''
    with engine.connect() as conn:
        df.to_sql(table_name, conn, if_exists ='replace', index=False)
        conn.commit()

In [ ]:
def run_query(query_statement, engine):
    ''' This function runs the query on the database table 
    and prints the output on the terminal. Function returns nothing.'''
    with engine.connect() as conn:
        result = conn.execute(text(query_statement))
        query_output = result.fetchall()
        qdf = pd.DataFrame(query_output, columns=result.keys())
        display(HTML(qdf.head().to_html()))
        # View the whole DataFrame
        #display(HTML(qdf.to_html()))

In [17]:
''' Create a table in the database to store the data
that will be loaded'''

create_table_query = text("""
CREATE TABLE IF NOT EXISTS activos (
    id SERIAL PRIMARY KEY,
    activo INT,
    valor NUMERIC,
    receptor VARCHAR(100),
    status VARCHAR(100),
    ano INT,
    categoria VARCHAR(100)
);
""")

with engine.connect() as conn:
    conn.execute(create_table_query)
    conn.commit()

In [ ]:
log_progress('Preliminaries complete. Initiating ETL process...')

recuperados_df,arrestados_df,apreendidos_df = extract(r_path, ar_path, ap_path)

log_progress('Data extraction complete. Initiating Transformation process...')

df = transform(recuperados_df, arrestados_df, apreendidos_df)

log_progress('Data Transformation complete. Initiating Loading process...')

load_to_csv(df, output_path)

log_progress('Data saved to CSV file.')

log_progress('SQL Connection initiated')

load_to_db(df, engine, 'activos')

log_progress('Data loaded to Database as a table. Executing queries...')

# Print the contents of the entire table
query_statement = f"SELECT * FROM {table_name}"
run_query(query_statement, engine)

# Nr of 'activos' per year
#query_statement = f"SELECT COUNT(activo) AS activos_por_ano, ano FROM {table_name} GROUP BY ano ORDER BY ano"
#run_query(query_statement, engine)

# Total value per year
#query_statement = f"SELECT SUM(valor) AS valor_total, ano FROM {table_name} GROUP BY ano ORDER BY ano"
#run_query(query_statement, engine)

# Total value per category
#query_statement = f"SELECT SUM(valor) AS valor_total, categoria FROM {table_name} GROUP BY categoria"
#run_query(query_statement, engine)

# Total 'activos' per category
#query_statement = f"SELECT COUNT(activo) AS total_activos, categoria FROM {table_name} GROUP BY categoria ORDER BY categoria"
#run_query(query_statement, engine)

# Total 'activo' awaiting evaluation
#query_statement = f"SELECT activo, categoria, valor, ano FROM {table_name} WHERE valor = 0 GROUP BY activo, valor, categoria, ano ORDER BY valor"
#run_query(query_statement, engine)

log_progress('ETL Process Complete!')

with engine.connect() as conn:
    conn.close()
log_progress('Server Connection closed.')

In [ ]:
# DataFrame overview
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 883 entries, 0 to 228
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   activo     883 non-null    int64
 1   valor      883 non-null    float64
 2   receptor   883 non-null    object
 3   status     883 non-null    object
 4   ano        883 non-null    int64
 5   categoria  883 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 48.3+ KB

In [20]:
df.isnull().sum()

activo       0
valor        0
receptor     0
status       0
ano          0
categoria    0
dtype: int64

In [ ]:
# Data summary formatted
desc = df.describe()
desc_formatted = desc.applymap(lambda x: f"{x:,.0f}")
print(desc_formatted)

      activo           valor    ano
count    883             883    883
mean     213      59,518,831  2,021
std      159   1,059,511,873      1
min        1               0  2,019
25%       82          15,000  2,020
50%      165         250,000  2,021
75%      336       9,009,075  2,021
max      559  31,314,354,034  2,024

In [ ]:
# Summary of non numerical data
df.describe(include=["object"])

                      receptor                        status   categoria
count                      883                           883         883
unique                      39                            32           3
top     Cofre Geral de Justica  a guarda do fiel depositario  apreendido
freq                       359                           557         508

In [ ]:
# 'Receptor' summary
df["receptor"].value_counts()

Cofre Geral de Justica                                        359
Ministerio das Financas                                       168
Instituicao Financeira Bancaria                               113
ASCOFA                                                         57
sem info                                                       35
BNA                                                            31
China Sonangol International Limited                           21
Fundo de Fomento Habitacional                                  19
IGAPE                                                          12
Ministerio do Comercio e Industria                              9
Conselho de Administracao da respectiva Sociedade               8
Ministerio das Telecomunicacoes e Tecnologia de Informacao      6
INSS                                                            6
Direccao Nacional do Património do Estado                       4
Ministerio da Saude                                             4
Sonangol, E.P.                                                  3
Banco de Poupanca e Credito                                     2
Ministerio dos Transportes                                      2
Instituto Nacional de Habitacao                                 2
Ministerio da Energia e aguas                                   2
Fundo Soberano de Angola                                        2
Sociedade gestora autorizada                                    1
Conselho de Administracao da empresa KENTO HOLDING LIMITED      1
Conselho de Administracao da empresa UNITEL HOLDING BV          1
Conselho de Administracao da Empresa                            1
Conselho de Administracao da empresa NOS SGPS                   1
Conselho de Administracao da Efacec Powe Solutions              1
Conselho de Administracao da Empresa Esperaza Holding BV        1
Ministerio dos Recursos  Minerais Petróleo e Gas                1
Ministerio das Financas/IGAPE                                   1
Conselho de Administracao do Banco EuroBIC                      1
Conselho de Administracao da respectiva sociedade               1
Ministerio das Obras Publicas, Urbanismo e Habitacao            1
Conselho de Administracao  da respectiva Sociedade              1
Ministerio da Educacao                                          1
Forca Aerea Nacional                                            1
Governo Provincial de Benguela                                  1
Banco                                                           1
Sociedade Imobiliaria gestora autorizada                        1
Name: receptor, dtype: int64

In [ ]:
# 'Status' summary
df["status"].value_counts()

a guarda do fiel depositario                                                                                                    557
Propriedade do Estado                                                                                                           107
Entregue ao Estado                                                                                                               75
Afectado a uma instituicao publica                                                                                               42
sem info                                                                                                                         35
a guarda do BNA                                                                                                                  24
Sob gestao do Ministerio das Financas                                                                                             5
Entregue ao Ministerio das Financas                                                                                               5
Alteracao do fiel depositario para o IGAPE em 2021                                                                                4
As accoes foram nacionalizadas                                                                                                    3
a guarda formalizacao da entrega                                                                                                  3
Privatizada na Modalidade de Cessao do Direito de Exploracao e Gestao                                                             2
Sob gestao do Ministerio da Saude                                                                                                 2
Ministerio das Telecomunicacoes, Tecnologias de Informacao e Comunicacao Social em 2022                                           1
Instituto de Gestao de Activos e Participacoes do Estado                                                                          1
Sob gestao do Fundo Soberano(1 000 000 000.00 retirado para o PIIM-Plano Integrado de Intervencao nos Municipios)                 1
Sob gestao do Porto de Luanda que cedeu a exploracao a empresa DPWORLD DUBAI                                                      1
Sob gestao do Porto do Lobito                                                                                                     1
Actualmente funciona o 4 Cartório Notarial de Luanda e outros servicos da justica                                                 1
Entregue ao INSS                                                                                                                  1
Sob gestao da sociedade imobiliaria autorizada pelo Tribunal local                                                                1
Alteracao do fiel depositario para o Ministerio das Telecomunicacoes, Tecnologias de Informacao e Comunicacao Social em 2022      1
Nacionalizadas pelo Estado Portugues                                                                                              1
Torre A afectada a uma instituicao publica                                                                                        1
Ja se encontram sob a gestao da Sonangol atraves de uma decisao arbitral na Holanda de 2022                                       1
Sob Gestao do Ministerio da Saude                                                                                                 1
Posteriormente foi nacionalizado em 2021                                                                                          1
a guarda do  fiel depositario                                                                                                     1
a guarda do Banco                                                                                                                 1
aguarda avaliacao                                                                                                                 1
Foi alterado o fiel depositario para o IGAPE e posteriormente as accoes foram nacionalizadas em 2022                              1
Sob gestao do Fundo Soberano                                                                                                      1
Name: status, dtype: int64